	#log>div {
	    color: #313131;
	    border-top: 1px solid #dadada;
	    padding: 9px;
	    display: flex;
	}
	
	#log>div:first-child {
	    border: 0;
	}

	.status {
	    min-width: 250px;
	}

	#log {
	    border: 1px solid #dadada;
	    padding: 10px;
	    margin-top: 20px;
	    min-height: 100px;
	    display: inline-block;
	    width: 45%;
	    float: right;
	}

	.pre {
	    display: inline-block;
	    white-space: pre-wrap;
	}

	body {
	    font-family: sans-serif;
	    margin: 30px;
	}

	progress {
	    display: block;
	    width: 100%;
	    transition: opacity 0.5s linear;
	}

	progress[value="1"] {
	    opacity: 0.5;
	}
